<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Registration</title>
</head>

<body class="bodystyle">

    <header class="header">
        <ul class="header-list">
            <li><img class="header-logo" src="assets/image/stock-logo.png"></li>
            <li><span class="header-title">STOCK MARKET</span></li>
            <li id="logout-link"><a class="logout-link" href="#">Logout</a></li>

        </ul>
    </header>
    <div class="main">
        <h1 style="text-align: center; line-height: 200px">USER
            REGISTRATION</h1>
        <div class="file-upload">
            <form method="POST" id="form-summary"  #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                <table id="summary-table">
                    <tr>
                        <td><label for="userName">User Name</label></td>
                        <td><input type="text" class="input-type" id="user_name" name="userName"
                                placeholder="User Name"  required="required" ngModel /></td>
                    </tr>
                    <tr>
                        <td><label for="userPassword">Password</label></td>
                        <td><input type="password" class="input-type" name="userPassword" id="userpassword"
                                placeholder="Password"  required="required" ngModel/></td>
                    </tr>
                    <tr>
                        <td><label for="email">Email</label></td>
                        <td>
                            <input type="text" class="input-type" name="email" id="useremail"
                                placeholder="Email"  required="required" ngModel/>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="mobileNumber">Mobile Number</label></td>
                        <td>
                            <input type="text" class="input-type" name="mobileNumber" id="usermobilenumber"
                                placeholder="Mobile Number"  required="required" ngModel/>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="save_button" type="submit" value="REGISTER"></td>
                    </tr>
                </table>
                </form>
        </div>
    </div>
    <footer class="footer">
        <p style="line-height: 60px; padding: 1px 16px;">&copy; 2019
            StockManagement.com</p>
    </footer>
</body>

</html>