
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>user_landing_page</title>
       
       
    </head>
    
    <body class="bodystyle">
    
        <header class="header">
            <ul class="header-list">
                <li><img class="header-logo" src="assets/image/stock-logo.png"></li>
                <li><span class="header-title">STOCK MARKET</span></li>
                <li id="logout-link"><a class="logout-link" href="/login-page">Logout</a></li>
    
            </ul>
        </header>
        <div class="main">
            <ul class="nav-bar">
                <li> <a href="/user-ipo-details">IPOs</a></li>
                <li><a href="/compare-company">Compare Company</a></li>
                <li><a href="/compare-company">Compare Sector</a></li>
                <li><a href="/user-ipo-details">Other</a></li>
    
            </ul>
    
            <h1 style="text-align: center;line-height: 200px">USER LANDING PAGE</h1>
        <p class="paragraph-content">
              <b>&nbsp;&nbsp;What is stock marketing?</b>
              <br>
              <br>
              
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A <b>stock market</b>, equity market or share market is the aggregation of buyers and sellers (a loose network of economic transactions, not a physical facility or discrete entity) of stocks (also called shares), which represent ownership claims on businesses; these may include securities listed on a public stock exchange, as well as stock that is only traded privately. Examples of the latter include shares of private companies which are sold to investors through equity crowdfunding platforms. Stock exchanges list shares of common equity as well as other security types, e.g. corporate bonds and convertible bonds.
              <br>
              <br>
              <br>
              <b>&nbsp;&nbsp;Trading</b>
              <br>
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Trade in stock markets means the transfer (in exchange for money) of a stock or security from a seller to a buyer. This requires these two parties to agree on a price. Equities (stocks or shares) confer an ownership interest in a particular company.

Participants in the stock market range from small individual stock investors to larger investors, who can be based anywhere in the world, and may include banks, insurance companies, pension funds and hedge funds. Their buy or sell orders may be executed on their behalf by a stock exchange trader.
            </p>
    
    </div>

        <footer class="footer">
            <p style="line-height: 60px;padding: 1px 16px;">&copy; 2019 StockManagement.com</p>
        </footer>
        </body>
    
    </html>
    
    <router-outlet></router-outlet>