<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>create_new_company</title>
</head>

<body class="bodystyle">

	<header class="header">
		<ul class="header-list">
			<li><img class="header-logo" src="assets/image/stock-logo.png"></li>
			<li><span class="header-title">STOCK MARKET</span></li>
			<li id="logout-link"><a class="logout-link" href="/logout">Logout</a></li>

		</ul>
	</header>
	<div class="main">
		<ul class="nav-bar">
			<li> <a href="/import-stock-page">Import Data</a></li>
			<li><a href="/list-company-details">Manage Company</a></li>
			<li><a href="/list-stock-exchange">Manage Exchange</a></li>
			<li><a href="/list-ipo-details">Update IPO details</a></li>

		</ul>

		<h1 style="text-align: center; line-height: 200px">CREATE NEW
			STOCK EXCHANGE</h1>
		<div class="file-upload">
			<form id="form-summary" #stockForm="ngForm" (ngSubmit)="createStockExchange(stockForm)" method="POST">
				<table id="summary-table">
					<tr>
						<td><label for="stockExchangeName">Stock Name</label></td>
						<td><input type="text" name="stockExchangeName" class="input-type" placeholder="Stock Name" required="required" ngModel/></td>
					</tr>
					<tr>
						<td><label for="contactAddress">Contract Address</label></td>
						<td><input type="text" name="contactAddress"
							placeholder="Stock Exchange Name" class="input-type" required="required" ngModel/></td>
					</tr>
					<tr>
						<td><label for="brief">Brief</label></td>
						<td><input type="text" name="brief" class="input-type" placeholder="Brief" required="required" ngModel/></td>
					</tr>
					<tr>
						<td><label for="remarks">Remarks</label></td>
						<td><input type="text" name="remarks" class="input-type" placeholder="Remarks" required="required" ngModel/></td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: center"><input type="submit" class="save_button" value="Submit" /></td>
					</tr>
				</table>
			</form>
		</div>

	</div>
	<footer class="footer">
		<p style="line-height: 60px; padding: 1px 16px;">&copy; 2019
			StockManagement.com</p>
	</footer>
</body>

</html>















