<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Company Details</title>
    </head>
    
    <body class="bodystyle"> 
            <header class="header">
                    <ul class="header-list">
                        <li><img class="header-logo" src="assets/image/stock-logo.png" ></li>
                        <li><span class="header-title">STOCK MARKET</span></li>
                        <li id="logout-link"><a class="logout-link" href="/login-page">Logout</a></li>
            
                    </ul>
                </header>
    <div class="main">
		<ul class="nav-bar">
            <li> <a href="/user-ipo-details">IPOs</a></li>
            <li><a href="/compare-company">Compare Company</a></li>
            <li><a href="/compare-company">Compare Sector</a></li>
            <li><a href="/user-ipo-details">Other</a></li>
		</ul>
		<h1 style="text-align: center; line-height: 200px">COMPARE
			COMPANIES</h1>
		<div class="file-upload">
			<form id="form-summary" action="">
				<table id="summary-table">
					<tr>
						<th>Company Code</th>
						<th>Company Name</th>
						<th>CEO,BOD</th>
						<th>Breif</th>
						
                    </tr>
                    <tr *ngFor="let company of companies">
                        <td>{{company.companyId}}</td>
                        <td>{{company.companyName}}</td>
                        <td>{{company.ceoName}}</td>
                        <td>{{company.breifWriteUp}}</td>
                        
                    </tr>
				</table>
			</form>
			<div>
				<br> <br> <br> <span>

					
				</span>

			</div>
		</div>

</div>
<footer class="footer">
    <p style="line-height: 60px; padding: 1px 16px;">&copy; 2019
        StockManagement.com</p>
</footer>
</body>


</html>